.nav-app {
    background-color: #27ae60;
    width: 100%;
    box-shadow: 2px 2px 0 green;
}

.logo-app {
    width: 150px;
    height: auto;
}

footer {
    height: 50px;
    background-color: rgb(35, 35, 35);
}

footer p {
    color: #fff;
}

.usuario {
    cursor: pointer;
}

.usuario:hover {
    color: rgb(218, 218, 218);
}

.pago-c {
    width: 100%;
    min-height: 100vh;
}

.p-nota {
    color: #444444;
    font-size: 15px;
    letter-spacing: 1px;
}